/* #222463 */
/* #636491 */
/* #2E1F20; */
/* #ACD7EC; */
* {border:1px solid black}

body {
  background: #9E9EBD;
  font-family: "Rubik"
}

main {
  display: flex;
  flex-direction: row;
}

article,
div {
  min-width: 15rem;
  border-radius: 1rem
}

.widget-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.water-widget {
  border: 1px solid blue
}

.chart-container {
  position: relative;
  width: 33vw;
}

.user-activity-daily-comparison {
  display: flex;
  align-self: center;
}

.user-weekly-activity-stats {
  display: flex;
  align-self: center;
}

@media only screen and ( min-width: 951px) {
  /* .widget-section { flex-wrap: wrap; } */
  .widget-section > article {flex-basis: 33%; }
  .widget-section > .chart-container { width: 33vw }
}

@media only screen and ( max-width: 950px) {
  .widget-section > article, .chart-container {flex-basis: 50%; }
}

@media only screen and (max-width: 700px) {
  .widget-section > article, .chart-container {flex-basis: 100%; }
}

@media only screen and (max-width: 580px) {
  main { flex-direction: column; }
  header { text-align: center;}
}
