/* #222463 */
/* #636491 */
/* #2E1F20; */
/* #ACD7EC; */
* {border:1px solid black}

body {
  background: #9E9EBD;
}

main {
  display: flex;
}
.water-and-sleep-section {
  display: flex;
  justify-content: space-around;
}

.step-goals {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.widget-section {
  display: flex;
  flex-direction: column;
}



.user-water-stats {
  display: flex;
  align-self: center;
}

.user-sleep {
  display: flex;
  flex-direction: column;
}

.activity-section {
  display: flex;
}

.user-activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-activity-daily-comparison {
  display: flex;
  align-self: center;
}

.user-weekly-activity-stats {
  display: flex;
  align-self: center;
}

.combined-activities {
  display: flex;
  flex-direction: row;
}
